nav {
  position: sticky; position: -webkit-sticky;
  top: 0; left: 0;
  z-index: 1000;
  background-color: rgb(5,168,206,.5);
}

ul.Nav {
  max-width: 1100px;
  padding: .75em; 
  display: flex;
  margin: auto;
}

li {
  margin-right: 15px;
  border-bottom: solid 3pt transparent;
  text-decoration: none;
  font-weight: 600;
}

li.logout {
  margin: 0 0 0 auto;
}

a {
  color: black;
}

.Nav > li:hover {
  margin-bottom: 0;
  border-bottom-color: #fdf353;
  cursor: pointer;
}

@media screen and (min-width: 1440px) {
  ul.Nav {
    max-width: 1500px;
  }
}