.video {
  margin: 2em 0 3em;
}

.video:last-of-type {
  margin: 0;
}

.video iframe {
  margin-left: calc((100% - 560px)/2);
  filter: grayscale(100%);
}
.video iframe:hover {
  filter: grayscale(25%);
}
.video iframe:active {
  filter: grayscale(0%);
}