body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #05a8ce; 
}

.italic {
  font-style: italic;
}

.resetAnchorStyle {
  text-decoration: none;
}

h1.header {
  color: #fdf353;
}

h2.header {
  background: #aecb4a;
  color: white;
  width: max-content;
  padding: .25em .5em;
  margin: 1em auto;
  text-justify: center;
  text-align: center;
  position: relative;
}

.header {
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
}


/* Colors: 
  blue: 05a8ce
  yellow: fdf353
  green: aecb4a
*/