body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #05a8ce; 
}

.header {
  font-family: 'PT Sans', sans-serif;
}

h1 {
  margin-bottom: 1em;
}

.italic {
  font-style: italic;
}

.resetAnchorStyle {
  text-decoration: none;
}

/* Colors: 
  blue: 05a8ce
  yellow: fdf353
  green: aecb4a
*/