body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #05a8ce; 
}

.italic {
  font-style: italic;
}

.resetAnchorStyle {
  text-decoration: none;
}

h1.header {
  color: #fdf353;
  letter-spacing: 5px;
}

h2.header {
  /* makes h2 "vintage-label" like with green 
  background, white text */
  background: #aecb4a;
  color: white;
  width: max-content;
  padding: .25em .5em;
}

.header {
  text-align: center;
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 1em auto;
}

p {
  margin: 1em;
}


/* Colors: 
  blue: 05a8ce
  yellow: fdf353
  green: aecb4a
*/